body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header .logo img {
    max-width: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 16px;
}

nav a:hover {
    color: #783dee;
}

main {
    background-color: #fff;
}

.about {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.about p {
    width: 50%;
}

.about h1, h3 {
    display: flex;
    flex-direction: column;
}

.about img {
    border-radius: 25px;
}